@model WebApplicationParty.Models.PagedSortedViewModel<PartyData.Data.PersonResultItem>
@using WebApplicationParty.Helpers;

@{
    ViewData["Title"] = "Person list";
}

<h1>Paged and sorted Persons</h1>

<table id="datatable" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.PagedSortedTableHeaderLink("Name", "Name", Model)</th>
            <th>@Html.PagedSortedTableHeaderLink("Email address", "EmailAddress", Model)</th>
            <th>@Html.PagedSortedTableHeaderLink("Date of birth", "DateOfBirth", Model)</th>
            <th>@Html.PagedSortedTableHeaderLink("Date created", "DateCreated", Model)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var organisation in Model.Data)
        {
            <tr>
                <td>@organisation.Name</td>
                <td>@organisation.EmailAddress</td>
                <td>@organisation.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>@organisation.DateCreated.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedSortedTablePagingControl(Model)

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagedsortedtableheader').hide();
            $('.pagedsortedtablepagingcontrol').hide();

            $('#datatable').DataTable({
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": "/PersonPagedSortedTable/DatatableJson",
                "columns": [
                    { "title": "Name", "data": "name" },
                    { "title": "Email address", "data": "emailAddress" },
                    { "title": "Date of birth", "data": "dateOfBirth" },
                    { "title": "Date created", "data": "dateCreated" }
                ]
            });
        });
    </script>
}