@model WebApplicationParty.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Parties</h1>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Services</td>
            <td>Add to service</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model.Parties)
        {
            <tr>
                <td>@party.Name</td>
                <td>
                    @foreach (var service in party.ActiveRegistrations.Select(r => Model.Services.First(s => s.CustomServiceId == r.CustomServiceId)))
                    {
                    <form asp-controller="Home" asp-action="RemoveFromCustomService" method="post">
                        @Html.Hidden("PartyId", party.PartyId)
                        @Html.Hidden("CustomServiceId", service.CustomServiceId)
                        <span>@service.Name</span>
                        <input type="submit" class="btn btn-link" value="remove" />
                    </form>
                    }
                </td>
                <td>
                    <form asp-controller="Home" asp-action="AddToCustomService" method="post">
                        @Html.Hidden("PartyId", party.PartyId)
                        <select asp-for="CustomServiceId" asp-items="@(new SelectList(Model.Services,"CustomServiceId","Name"))">
                        </select>
                        <input type="submit" class="btn btn-link" value="add" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Add person", "Index", "Person")
</div>
<div>
    @Html.ActionLink("Add organisation", "Index", "Organisation")
</div>