@model WebApplicationParty.Models.HomeViewModel
@using WebApplicationParty.Helpers;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Parties</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.PagedSortedTableHeaderLink("Name", "Name", Model)</th>
            <th>Services</th>
            <th>Add to service</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model.Data)
        {
            <tr>
                <td>@Html.ActionLink(party.Name, "Index", "Party", new { id = party.PartyId })</td>
                <td>
                    @foreach (var service in party.ActiveRegistrationCustomServiceIds.Select(id => Model.Services.First(s => s.CustomServiceId == id)))
                    {
                        <form asp-controller="Home" asp-action="RemoveFromCustomService" method="post">
                            @Html.Hidden("PartyId", party.PartyId)
                            @Html.Hidden("CustomServiceId", service.CustomServiceId)
                            <span>@service.Name</span>
                            <input type="submit" class="btn btn-link" value="remove" />
                        </form>
                    }
                </td>
                <td>
                    <form asp-controller="Home" asp-action="AddToCustomService" method="post">
                        @Html.Hidden("PartyId", party.PartyId)
                        <select asp-for="CustomServiceId" asp-items="@(new SelectList(Model.Services,"CustomServiceId","Name"))"></select>
                        <input type="submit" class="btn btn-link" value="add" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedSortedTablePagingControl(Model)

<div>
    @Html.ActionLink("Add person", "Index", "Person")
</div>
<div>
    @Html.ActionLink("Add organisation", "Index", "Organisation")
</div>
<div>
    @Html.ActionLink("Paged and sorted organisations", "Index", "OrganisationPagedSortedTable")
</div>
<div>
    @Html.ActionLink("Paged and sorted persons", "Index", "PersonPagedSortedTable")
</div>